<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Subscribe</h2>
                <hr class="light">
                <p class="text">Follow along with our weekly-ish project newsletter (it's free!)</p>
                <div id="mc_embed_signup"><form class="validate" id="mc-embedded-subscribe-form" action="http://example.us7.list-manage2.com/subscribe/post?u=123456789abcde&id=1a2b3c4d5e" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                    </label>
                        <input class="required email" id="mce-EMAIL" type="email" name="EMAIL" value="" /></div>
                    <div class="mc-field-group"><label for="mce-FNAME">First Name </label>
                        <input id="mce-FNAME" type="text" name="FNAME" value="" /></div>
                    <div class="mc-field-group"><label for="mce-LNAME">Last Name </label>
                        <input id="mce-LNAME" type="text" name="LNAME" value="" /></div>
                    <div class="clear" id="mce-responses"></div>
                    <div class="clear"><input class=".btn .btn-secondary btn-xl" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe" /></div>
                </form></div>
            </div>
        </div>
    </div>
</section>