<section id="project">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-dark">
                <h2 class="section-heading text-center">The Long Streets Project</h2>
                <hr class="primary">
                <div class="article">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat ex nec nunc sagittis, a cursus ante euismod. Cras a pharetra purus. Curabitur mattis velit in lectus vehicula, vel congue nunc aliquet. Morbi vestibulum tortor a dui tristique, in pellentesque tortor consectetur. Nulla facilisi. Quisque vulputate sagittis risus eget scelerisque. Mauris vel tellus interdum, auctor tellus at, pretium augue. Donec hendrerit vulputate lectus, eu dictum lectus porttitor id. Pellentesque dapibus pulvinar arcu at porttitor.
                    </p>
                    <p>
                        Mauris aliquet massa vel vulputate venenatis. Curabitur pellentesque libero sed nunc ultrices efficitur. Aenean non dolor eget risus dapibus sagittis eget nec leo. Aenean dignissim auctor est, eget volutpat lorem faucibus id. Sed posuere ex ut ante mattis, vitae pulvinar turpis maximus. Sed fermentum placerat nibh, at finibus libero sodales ut. Phasellus convallis libero a ipsum vehicula, nec lobortis sem varius. Ut ac aliquet erat. Duis ultrices vehicula sollicitudin. Vestibulum sodales erat at est blandit, eu pretium ex pretium. Nunc aliquam ex consectetur odio scelerisque dapibus. Ut dui lectus, dignissim vitae metus ut, fermentum congue orci. Mauris elementum metus et tristique sollicitudin. Nulla quis pretium turpis, a suscipit ligula. Aliquam interdum vestibulum velit nec porttitor. Vivamus porttitor iaculis ipsum nec ornare.
                    </p>
                    <p>
                        Fusce imperdiet efficitur lacus vel porta. Aliquam lectus odio, suscipit vel lacus scelerisque, aliquet volutpat ex. Fusce id faucibus dolor, a tincidunt felis. Etiam auctor maximus ultrices. Aliquam erat volutpat. Nunc sit amet arcu bibendum, eleifend metus vel, vehicula elit. Sed vel molestie lacus. Nam dapibus laoreet justo, sodales posuere metus semper a. Donec condimentum nunc sit amet felis pretium, vitae feugiat lorem fringilla. Nullam mollis varius hendrerit. Vestibulum sodales, quam sed volutpat fringilla, magna ligula lobortis nisi, non posuere odio orci et nulla. Sed efficitur massa ac metus posuere dignissim. Vivamus a dolor sed mi commodo posuere et fermentum tellus. Ut mattis augue sed condimentum tempus. Vestibulum eu diam at ex aliquam porttitor tincidunt sit amet mauris. Duis scelerisque ac nulla sit amet blandit.
                    </p>
                    <p>
                        Donec blandit molestie nulla ut congue. Nulla vitae tellus placerat, interdum mauris nec, porttitor enim. Integer rhoncus, justo vitae vulputate dapibus, odio felis pulvinar velit, eget congue ante nisl id neque. Sed blandit felis eget odio porta vestibulum. Mauris nec turpis nibh. Integer aliquam metus nec sodales sollicitudin. Integer viverra quis tellus eu sodales. Nam at justo dapibus, dignissim tortor at, commodo dui.
                    </p>
                </div>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>