<section class="bg-gray" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Montana Reporter Team</h2>
                <hr class="primary">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <img class="team-mug" src='./img/eric-professional-mug.jpg'>
                            <h3>Eric Dietrich</h3>
                            <h4>Data Reporter</h4>
                            <p class="text-muted text-left">
                                A journalist, cartographer and web developer, Eric's work combines data analysis and visualization with old-fashioned reporting. He was trained as a civil engineer at Montana State University and has covered Montana as a staff reporter and freelance writer, working for the Great Falls Tribune, Bozeman Daily Chronicle and Solutions Journalism Network Montana Gap Project.
                            </p>
                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <img class="team-mug" src='./img/derek-professional-mug.jpg'>
                            <h3>Derek Brouwer</h3>
                            <h4>Project Editor</h4>
                            <p class="text-muted text-left">
                                Over the past five years, Derek's incisive reporting has spanned issues ranging from K-12 education to bitcoin-powered economic development, with his specialty in-depth pieces able to remind readers of their neighbors' humanity. He graduated from Montana State University and has worked for the Helena Independent Record, Billings Gazette and Missoula Independent.
                            </p>
                            
                        </div>
                    </div>
                </div>
                
                <hr class="primary">
                <h2 class="section-heading">Publishing Partner</h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="service-box">
                            <a href="https://montanafreepress.org/">
                                <img class="team-logo" src="./img/mtfp-logo.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <hr class="primary">
                <h2 class="section-heading">Supported By</h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="service-box">
                            <a href="http://greatermontana.org/">
                                <img class="team-logo"
                                src="./img/gmf-logo.png"
                                />
                            </a>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>